extends layout

block content
  .inner
    h2 Top #{stores.length} stores
    table.table
      thead
        td Photo
        td Ranking
        td Name
        td Reviews
        td Average rating
      tbody
        each store, i in stores
          tr
            td
              a(href=h.slug(store))
                img(width=200, src=h.storePhoto(store) alt=store.name)
            td #{i + 1}
            td: a(href=h.slug(store))= store.name
            td= store.reviews.length
            td #{Math.round(store.averageRating * 10) / 10} / 5